<footer class="container-fluid main-footer">
  <div class="row row-eq-height">
    <div class="col-lg-3 col-lg-push-4 col-md-4 col-md-push-4 col-sm-12">
      <ul class="social-media">
        <li><a href="https://www.facebook.com/hospitalvetsanantonio/" target="_blank"><svg class="icon" width="42px" height="42px" viewBox="0 0 42 42"><use xlink:href="#facebook-icon"></use></svg></a></li><!--
        --><li><a href="tel:+50622393979" target="_blank"><svg class="icon" width="42px" height="42px" viewBox="0 0 42 42"><use xlink:href="#phone-icon"></use></svg></a></li><!--
        --><li><a href="https://www.instagram.com/hospitalvetsanantonio/" target="_blank"><svg class="icon" width="42px" height="42px" viewBox="0 0 42 42"><use xlink:href="#instagram-icon"></use></svg></a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-lg-pull-3 col-md-4 col-md-pull-4 col-sm-6 col-xs-12">
      <a href="mailto:info@hospitalvetsanantonio.cr">Email: info@hospitalvetsanantonio.cr</a>
    </div>    
    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-sm-6 col-xs-12"><p>Hospital Veterinario San Antonio © 2017 <span class="visible-xs-block"></span>All Rights Reserved</p></div>
  </div>
</footer>