<!-- Modal -->
<div id="leavingSiteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title-text">You are now leaving Remodulin.com<br />for Healthcare Professionals</h4>
        <p class="modal-text">Click “CONTINUE” to proceed or<br />“CLOSE” to return to Remodulin.com</p>
        <div class="buttons-container">
          <button type="button" class="btn modal-btn" data-dismiss="modal" data-gaid-custom="GlobalHeader" data-ga-description="btn_header_VisitPatientSite_Cancel - Click 'Cancel' in the interstitial that pops up when clicking the 'Visit Patient Site' link">Close</button>
          <button type="button" class="btn modal-btn" onclick="document.location.href='https://www.remodulin.com';" data-gaid-custom="GlobalHeader" data-ga-description="ext_header_VisitPatientSite_Continue - Click 'Continue' in the interstitial that pops up when clicking the 'Visit Patient Site' link">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>