<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

<!--Google Custom Search Engine-->

<!--End Google Custom Search Engine-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/bootstrap-validator/dist/validator.js"></script>
<script src="/bower_components/axios/dist/axios.js"></script>
<script src="/bower_components/calculate-size/src/calculate-size.js"></script>
<script src="/bower_components/slick-carousel/slick/slick.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- JS -->
<!-- inject:js -->
<script src="/assets/javascript/index.js"></script>
<!-- endinject -->
