<!--Start Homepage Hero -->
<section class="hero-carousel">
	<div class="row no-gutter">
		<div class="col-xs-12">
			<div class="hero-slider slick-slider">
			  <div class="home-slider-slide">
			  	<img class="main-slide-img hidden-xs" src="/assets/images/homepage/hero-carousel-img1.jpg" alt="Estamos para servirle TODOS los días, a TODA hora">
			  	<img class="main-slide-img visible-xs-block" src="/assets/images/homepage/hero-carousel-mobile-img1.jpg" alt="Estamos para servirle TODOS los días, a TODA hora">
			  </div>
			  <div class="home-slider-slide">
			  	<img class="main-slide-img hidden-xs" src="/assets/images/homepage/hero-carousel-img2.jpg" alt="Cuidamos a sus mascotas como si fueran nuestras">
			  	<img class="main-slide-img visible-xs-block" src="/assets/images/homepage/hero-carousel-mobile-img2.jpg" alt="Cuidamos a sus mascotas como si fueran nuestras">
			  </div>
			  <div class="home-slider-slide">
			  	<img class="main-slide-img hidden-xs" src="/assets/images/homepage/hero-carousel-img3.jpg" alt="Atendemos perros, gatos y exóticos">
			  	<img class="main-slide-img visible-xs-block" src="/assets/images/homepage/hero-carousel-mobile-img3.jpg" alt="Atendemos perros, gatos y exóticos">
			  </div>
			</div>			
		</div>
	</div>
</section>
<!--End Homepage Hero -->
