# .gitignore for jekyllized projects

# Ignore hidden folders
# This takes care of .tmp, .sass-cache, and many others
.*/

# OSX
._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
Icon

# Windows
Desktop.ini
ehthumbs.db
Thumbs.db

# Linux
*~

# Tags
# Ignore tags created by etags and ctags
TAGS
tags

# Always-ignore files and folders #
*.diff
*.err
*.log
*.orig
*.rej
*.swn
*.swo
*.swp
._*
*~

# Ignore packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Packages
node_modules/
.tmp
test/

# Sublime
*.sublime-project
*.sublime-workspace
*.sublime-projectcompletions

bower_components

# Output folders
dist

# hide the AWS and Rsync credentials file
aws-credentials.json
rsync-credentials.json

/dist-local/

# Net ignore files 

.DS_Store
Thumbs.db
*.obj
*.exe
!Nuget.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
**/mails/*
**/output/*
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*/.vs/*

# Ignore NuGet Packages
*.nupkg
# Ignore the packages folder
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config


src/assets/javascript/main.js
