<div class="mobile-nav visible-xs visible-sm">
  <div class="container-fluid">
    <div class="row top-nav-container">
      <div class="logo-container col-xs-6">
        <a class="navbar-brand" href="/index.html">
          <img src="/assets/images/global/remodulin-logo.png" alt="Remodulin (reprostinil) Injection" class="img-responsive">
        </a>
      </div>
      <div class="info-container col-xs-6">
        <h2 class="primary-color capitalize">
          <a target="_blank" href="http://hcp.remodulin.com/downloads/remodulin-prescribinginformation.pdf">Full Prescribing<br/> Information</a>
        </h2>
      </div>
    </div>
    <div class="row" data-spy="affix" data-offset-top="90">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="right-navbar-container hidden-md hidden-lg">
          <div class="mobile-search-container">
            <gcse:searchbox-only resultsUrl="/results.html" enableAutoComplete="false" enableImageSearch="false"></gcse:searchbox-only>
          </div>
          <div class="mobile-us-message-cont hide-on-search">
            <h2 class="capitalize mobile-us-message">For US Healthcare<br/> Professionals Only</h2>
          </div>
          <div class="search-icon-cont hide-on-search">
            <a href="#"><i class="fa fa-2x fa-search search-icon"></i></a>
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <div class="bottom-container">
            <ul class="main-remodulin-nav">
              {% for menu_item in site.menu_details %}
              <li class="dropdown top-level-nav">
                <a href="#" class="dropdown-toggle unskew" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="link-text">{{menu_item.section_title}}</span> <i class="fa fa-2x fa-angle-right caret-direction-icon"></i></a>
                <ul class="dropdown-menu hidden-nav-subsection">
                  {% for submenu_item in menu_item.submenu_content %}
                  <li>
                    <a href="{{submenu_item.submenu_url}}">{{submenu_item.submenu_title}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
