.services {

	.info-panel {
		margin-top: 0;
	}

	.info-content {
		padding: em(30,14) 19% 0 10%;

		p {
			color: #ffffff;
			font-size: em(18,14);
			line-height: 1.2em;
		}		

		@media (max-width: $tablet-breakpoint) {
			padding: em(22,14);			
		}

		p {
			font-size: em(16,14);

			@media (max-width: $tablet-breakpoint) {
				font-size: em(14,14);
			}

			@media (max-width: $screen-sm) {
				font-size: em(16,14);
			}
		}
	}

	.main-title {
		margin-top: em(40,14);
		margin-bottom: em(60,14);
	}

	.services-list {
		padding-bottom: em(80,14);
	}

	.sr-item {
		@media (max-width: $screen-xs) {
			width: 100%;
		}
	}

	.service-item {
		color: $tertiary-theme-color;
		text-decoration: none;
		font-size: em(19,14);
		text-transform: uppercase;
		margin-bottom: em(20,14);
		text-align: center;

		.service-label {
			display: block;
			text-align: center;
			margin-top: em(7,19);

			&:before {
				background-color: $tertiary-theme-color;
				margin: 0 auto em(6,18);
				content: '';
				display: block;
				height: 2px;
				width: 80%;

				@media (max-width: $tablet-breakpoint) {
					width: 60%;
				}

				@media (max-width: $screen-sm) {
					width: 50%;
				}
			}	
		}
	}	

	.grooming-link {
		text-decoration: none;

		&:hover {

			.service-label {
				color: $secondary-theme-color;

				&:before {
					background-color: $secondary-theme-color;
				}
			}
		}
	}	

	.grooming {
		.grooming-img {
			width: 100%;
		}


		.grooming-text-cont {
			background: url('../images/services/grooming-bg.png') no-repeat center #ec60a0;
			background-size: cover;
		}
	}
}