//Caching schema
<FilesMatch "\.(jpg|png|css|gif|js)$">
Header set Cache-Control "public, max-age=36288000"
</FilesMatch>

//Custom 404 errors
ErrorDocument 404 404.html

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>
 